@model KalyanaInfo.Models.Shope

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Shope</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p><input id="images" name="images" type="file" accept="image/*" style="display:none" multiple></p>
                <p><label for="images" style="cursor: pointer;">Upload Images</label></p>
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="row" id="a-0">
                
            </div>
            <div class="form-group" >
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <textarea asp-for="ShortDescription" class="form-control" style="height:110px" maxlength="200" ></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <textarea asp-for="LongDescription" class="form-control" style="height:110px" maxlength="500" ></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopeType" class="control-label"></label>
                <select asp-for="ShopeType" class ="form-control" asp-items="ViewBag.ShopeType"></select>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="@Context.Session.GetInt32("id")" asp-for="UserId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
<script>
    
        $('input#images').change(function () {
            var files = $(this)[0].files;
            if (files.length > 10)
            {
                alert("you can select max 10 files.");
            }
            else
            {
                $("#a-0").html("");
                for (var i = 0; i < files.length; i++)
                {
                    $('<div class="col-md-4"><div class="thumbnail"><img src="' + URL.createObjectURL(event.target.files[i]) + '" alt="Lights" style="width:100%"></div></div>').appendTo("#a-0");
                }
            }
        });
</script>



}