@model KalyanaInfo.Models.Person

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<h1>Signup For Kalyana</h1>

<h4>Person of Kalyana</h4>
<hr />
<div class="row align-content-center">
    <div class="col-md-4">
        <form asp-action="Create" id="PersonForm" name="PersonForm" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p><input id="image" name="image" type="file" accept="image/*" onchange="loadFile(event)" style="display: none;" required ></p>
                <p><label for="image" style="cursor: pointer;">Upload Image</label></p>
                <p><img id="output" width="60" height="60" style="border:1px solid black;border-radius:50%" /></p>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SonOrDaughterOf" class="control-label"></label>
                <input asp-for="SonOrDaughterOf" class="form-control" required />
                <span asp-validation-for="SonOrDaughterOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobby" class="control-label"></label>
                <input asp-for="Hobby" class="form-control" required />
                <span asp-validation-for="Hobby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" required />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth"type="datetime-local" class="form-control" required />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasMobile" class="control-label d-block"></label>
                <select asp-for="HasMobile" class="form-control" asp-items="ViewBag.HasMobile"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label d-block"></label>
                <select asp-for="Gender" class="form-control" asp-items="ViewBag.Gender"></select>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label d-block"></label>
                <select asp-for="Education" class="form-control" asp-items="ViewBag.Education"></select>
            </div>
            <div class="form-group">
                <label asp-for="Profession" class="control-label d-block "></label>
                <select asp-for="Profession" class="form-control" asp-items="ViewBag.Profession"></select>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle" class="control-label d-block"></label>
                <select asp-for="Vehicle" class="form-control" asp-items="ViewBag.Vehicle"></select>
            </div>
            <div class="form-group">
                <label asp-for="Family" class="control-label d-block"></label>
                <select asp-for="Family" class="form-control" asp-items="ViewBag.Family"></select>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label "></label>
                <textarea asp-for="About" class="form-control" required ></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" style="margin-right:10px">
                        <input type="radio" asp-for="Married" autocomplete="off" checked value="false"> Married:
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" asp-for="Married" autocomplete="off" value="true"> Not Married:
                    </label>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts
{
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
       


        $("#DateOfBirth").datepicker();
        $('#Family').select2({
            selectOnClose: true
        });
        $('#Profession').select2({
            selectOnClose: true
        });
        $('#Vehicle').select2({
            selectOnClose: true
        });
        $('#Gender').select2({
            selectOnClose: true
        });
        $('#Gender').select2({
            selectOnClose: true
        });

        $('#HasMobile').select2({
            selectOnClose: true
        });
        $('#Education').select2({
            selectOnClose: true
        });
       
    </script>

}
