
@{
    Layout = "_Layout";
}

<h1 class="bg-success">SuccessFully sended Email with password</h1>
<h2>if not recieved then press this button for resend</h2>
<a asp-area="PeopleArea" asp-controller="People" asp-action="ForgetPassword" class="btn btn-danger">Resend</a>
<a asp-area="PeopleArea" asp-controller="People" asp-action="LogIn">Back To LoginPage</a>
<a asp-area="PeopleArea" asp-controller="People" asp-action="index">BackPeople</a>




